.footerBody {
  margin: 10% 0;
  padding: 40px 0 0 0;
  box-sizing: border-box;
  color: #505050;
  background: #c1d0b5;
  justify-content: space-between;
  display: flex;
}
/*content*/
footer {
  bottom: 0;
  background: #c1d0b5;
  height: auto;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.footer {
  display: flex;
  flex-direction: column;
  padding: 0 2em;
}
.footer h3 {
  margin: 24px 1.5rem;
  letter-spacing: 0.1rem;
}
.socials {
  width: 260px;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 2rem 0;
}
.socials li {
  margin: 0 10px;
}
.socials a {
  text-decoration: none;
  color: #fff;
  border: 1.1px solid white;
  padding: 5px;
  border-radius: 50%;
}
.socials a i {
  font-size: 1.1rem;
  width: 20px;
  transition: color 0.4s ease;
}
.socials a:hover i {
  color: dodgerblue;
}
/* copyright*/
.footer-copyright {
  background: #c1d0b5;
  padding: 0px 20px 50px 20px;
}
.footer-copyright p {
  font-size: 14px;
  word-spacing: 2px;
  align-items: center;
  justify-content: center;
}
/****************************************************************/
.column {
  display: flex;
  flex-direction: column;
  padding: 0 2em;
  min-height: 15em;
}
h3 {
  text-align: left;
  color: white;
  font-size: 1.4em;
  white-space: nowrap;
  letter-spacing: 0.1rem;
}
.ul {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}
.li {
  margin: 3px 0;
}
.li:not(:first-child) {
  margin-top: 0.8em;
}
.ul .li a {
  color: #505050;
  text-decoration: none;
}
.ul .li a:hover {
  font-weight: bold;
}
