:root {
  --blue: #dba39a;
  --lightblue: #fff5e4;
  --gray: #333;
}
body {
  font-family: "Ubuntu", sans-serif;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}
.headerGroup {
  background: url("/public/img/banner2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 600px;
  position: relative;
  border-radius: 0px 0px 130px 0px;
}
.header {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: space-between;
  padding: 3% 0;
}
.logo-link {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  margin-left: 5%;
}
.logo {
  height: 100px;
  font-size: 1.8rem;
  letter-spacing: 0.3rem;
  color: white;
  font-weight: bold;
  animation: logo 1.2s ease-in-out forwards;
}
.tag-a {
  padding-top: 60px;
}
.tag-a .tag-a-span {
  position: absolute;
  top: 75%;
  left: 50%;
  width: 30px;
  height: 50px;
  margin-left: -15px;
  border: 2px solid #fff;
  border-radius: 50px;
  box-sizing: border-box;
}
.tag-a .tag-a-span::before {
  position: absolute;
  top: 10px;
  left: 50%;
  content: "";
  width: 6px;
  height: 6px;
  margin-left: -3px;
  background-color: #fff;
  border-radius: 100%;
  -webkit-animation: sdb 2s infinite;
  animation: sdb 2s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes sdb {
  0% {
    -webkit-transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    -webkit-transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
.main-menu-button {
  z-index: 4;
  display: grid;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 6%;
  animation: menubtn 1.2s ease-in-out forwards;
}
.menu-icon {
  fill: #ffffff;
}
.menu-icon:hover {
  cursor: pointer;
}
.menu-icon:active {
  cursor: pointer;
}
.menu-background {
  position: absolute;
  z-index: 2;
  aspect-ratio: 1 / 1;
  background: #07030a;
  opacity: 0;
  transition: 0.6s;
  margin: 0;
  top: 0; /* 수정된 부분 */
  right: 0;
}
body.open .menu-background {
  width: 11%;
  height: 602px;
  opacity: 0.8;
  border-radius: 0px 0px 130px 0px;
}
body.open .menuGroup {
  opacity: 1;
  visibility: visible;
}
.menuGroup {
  z-index: 3;
  position: absolute;
  margin-right: 4%;
  align-items: center;
  transition: 0.05s;
  top: 17%;
  right: 0;
}

.menuGroup nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 100px;
}
.menuGroup .menulink {
  position: relative;
  color: #f9f9f9;
  font-size: 23px;
  padding: 20px 0 20px;
  text-decoration: none;
  opacity: 0;
  transition: 0.4s;
}
.menuGroup .menulink::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -26px;
  translate: 0 -50%;
  width: 10px;
  height: 10px;
  border-top: 3px solid #ffffff;
  border-right: 3px solid #ffffff;
  opacity: 0;
  rotate: 45deg;
  transition: 0.3s;
}
.menuGroup .menulink:hover::after {
  opacity: 1;
}
@keyframes appear {
  0% {
    opacity: 0;
    translate: -30px 0;
  }
  100% {
    opacity: 1;
  }
}
body.open .menuGroup .menulink {
  opacity: 1;
  animation: appear 0.35s backwards;
}
/*애니메이션*/
@keyframes logo {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes menubtn {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
/*스크롤 시, 서서히 fade out*/
.fade-out {
  opacity: 0;
  animation-name: fadeOut;
  animation-duration: 0.7s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.3;
  }
}
.fade-in {
  opacity: 1;
  animation-name: fadeIn;
  animation-duration: 0.4s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0.3;
  }
  to {
    opacity: 1;
  }
}
