.map-header {
  width: 100%;
  height: 100%;
  text-align: center;
  z-index: 1;
}
.map-header::after {
  background: url("/public/img/banner2.jpg");
  width: 100%;
  height: 100%;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0.5;
}
.map-header #map {
  width: 50%;
  margin: 0 2rem;
  border-radius: 1rem;
}
.map-body {
  display: flex;
}
.map-detail-body {
  background-color: rgba(255, 255, 255, 0.597);
  width: 40%;
  border-radius: 1rem;
}
.map-detail-Container-title {
  margin: 1.5rem 0;
  font-size: 1.7rem;
  font-weight: bold;
}
.map-detail-Container-body {
  width: 90%;
  height: 77%;
  border-radius: 10px;
  align-items: center;
  padding-top: 1rem;
  overflow: auto;
  margin: 0 auto;
}
.map-detail-Container-body::-webkit-scrollbar {
  width: 10px;
}
.map-detail-Container-body::-webkit-scrollbar-thumb {
  background-color: #3c563c;
  border-radius: 10px;
}
.map-detail-Container-body::-webkit-scrollbar-track {
  background-color: rgb(237, 237, 237);
  border-radius: 10px;
}
.map-detail-Container-body-button {
  display: flex;
  justify-content: space-around;
}
.detail-button {
  padding: 0.6rem;
  outline: none;
  border: none;
  border-radius: 3px;
  background: white;
  color: black;
  font-weight: bold;
  cursor: pointer;
  transition: 0.4s ease;
  width: 30%;
  background: #90a17d;
  margin: 0 1rem;
}
.detail-button:hover {
  background: #90a17d;
  color: white;
}
.detail-button-modal {
  display: flex;
  margin-top: 1rem;
  margin-top: 1rem;
  flex-direction: row;
  flex-wrap: nowrap;
}
.detail-button-modal-body {
  text-align: left;
  letter-spacing: 0.2rem;
}
.mapModal {
  display: flex;
  flex-direction: column;
  align-items: center;
  bottom: 4rem;
  position: fixed;
}
.mapModal-content {
  background: #e0e6ca;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(13.5px);
  -webkit-backdrop-filter: blur(13.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  width: 500px;
  height: 370px;
  bottom: 4rem;
  padding: 10px;
}
.mapModal-content .modal-close {
  display: inline;
  float: right;
  padding-right: 10px;
  margin-top: 12px;
  cursor: pointer;
  text-shadow: 1px 1px 2px gray;
  border: 0px;
  color: white;
}
.modal-header {
  width: 5rem;
  font-weight: bold;
  margin: 1rem 0.5rem;
  position: relative;
}
.modal-header div {
  text-align: center;
  line-height: 50px;
}
.modal-body div {
  margin: 1rem;
  line-height: 1.5rem;
}
.detail-button-modal-header {
  width: 400px;
  height: 330px;
  overflow: auto;
  margin: 20px;
}
.detail-button-modal-header::-webkit-scrollbar {
  width: 10px;
  height: 300px;
}

.detail-button-modal-header::-webkit-scrollbar-thumb {
  background-color: #bed8be;
  border-radius: 10px;
}
.detail-button-modal-header::-webkit-scrollbar-track {
  background-color: rgb(237, 237, 237);
  border-radius: 10px;
}
