.timetable-header {
  width: 100%;
  height: 100%;
  text-align: center;
  position: relative;
  z-index: 1;
}

.timetable-header::after {
  background: url("/public/img/banner2.jpg");
  width: 100%;
  height: 100%;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0.5;
}
.red-background {
  background-color: #a9a464;
}
.timetable-body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.timetable-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.timetable-table {
  width: 58%;
  height: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  background: white;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.125em;
  border: 3px solid #ffffff;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  margin: 0 2%;
  padding: 20px;
  opacity: 0.9;
}

.timetable-table td {
  width: 8%; /* Adjust as needed based on the number of columns */
  padding: 16px;
  text-align: center;
  border: 1px solid rgb(194, 194, 194);
  border-radius: 5px;
}

.red-background {
  background-color: #b4cfb0;
}
.timetable-select {
  width: 360px;
  height: 345px;
  margin-bottom: 20px;
  background-color: white;
  border-radius: 10px;
  padding: 1.5rem;
  margin-bottom: 0.2rem;
}
.timetable-select h3 {
  text-align: center;
  color: #565656;
  margin-bottom: 2rem;
}
.timetable-select input {
  width: 250px;
  height: 1.8rem;
  border: 0;
  border-bottom: 1px solid #565656;
  margin-bottom: 0.7rem;
}
.timetable-select label {
  margin-right: 1rem;
}
.timetable-select select {
  width: 6rem;
  height: 1.8rem;
  margin: 0.5rem 0;
  border: 2px solid #929291;
  border-radius: 7px;
}
.timetable-select select:hover {
  cursor: pointer;
}
.timetable-select button {
  width: 100px;
  padding: 0.6rem;
  outline: none;
  border: none;
  border-radius: 3px;
  background: rgb(164, 216, 175);
  color: black;
  font-weight: bold;
  cursor: pointer;
  transition: 0.4s ease;
}
.timetable-select button:hover {
  background: #90a17d;
  color: white;
}
